<div class="content">
    <div class="content__title">
        <h3>sign up to sell me out</h3>
    </div>
    <form #form="ngForm" class="form">
        <div class="form__item" [class.form__item--invalid]="wrong_informations">
            <label for="username">username</label>
            <input type="text" ngModel autocomplete="off" name="username" required id="username">
        </div>
        <div class="form__item" [class.form__item--invalid]="wrong_informations">
            <label for="mail">e-mail</label>
            <input type="email" ngModel autocomplete="off" name="mail" required id="mail">
        </div>
        <div class="form__item form__item--password" [class.form__item--invalid]="wrong_informations">
            <label for="password">password</label>
            <div class="input">
                <input [type]="password_visibility" ngModel autocomplete="off" name="password" required id="password">
                <i class="fa eye" [class.fa-eye]="password_visibility == 'text'" (click)="toggle_password_visibility()"
                    [class.fa-eye-slash]="password_visibility  == 'password'"></i>
            </div>
            <p class="error">an error as occured, please try again</p>
        </div>
        <div class="form__item" [class.form__item--invalid]="wrong_informations">
            <label for="role">role</label>
            <select name="role" id="role">
                <option value="seller">seller</option>
                <option value="customer">customer</option>
            </select>
        </div>
        <div class="form__buttons">
            <span class="button" title="back to sign in" (click)="back()">
                <p>back</p>
            </span>
            <button class="button button--main" title="sign up to sell me out">
                <p>sign up</p>
            </button>
        </div>
    </form>
</div>