<div class="content">
    <div class="content__title">
        <h3>sign up to sell me out</h3>
    </div>
    <div class="form">
        <label class="form__item" [class.form__item--invalid]="wrong_informations" for="">
            <p>username</p>
            <input type="text">
        </label>
        <label class="form__item" [class.form__item--invalid]="wrong_informations" for="">
            <p>password</p>
            <input type="password">
            <p class="error">an error as occured, please try again</p>
        </label>
        <div class="form__buttons">
            <span class="button" title="back to sign in" (click)="back()">
                <p>back</p>
            </span>
            <button class="button button--main" title="sign up to sell me out">
                <p>sign up</p>
            </button>
        </div>
    </div>
</div>