<div class="product">
    <img [src]="product.image" alt="picture of {{product.name}}">
    <div class="product__content">
        <div class="product__content__text">
            <h3>{{product.name ? product.name : 'product name'}} <span *ngIf="product.quantity">x
                    {{product.quantity}}</span></h3>
            <p>${{product.price ? product.price : 'price'}}</p>
        </div>
        <rating-stars class="stars" *ngIf="enable_stars" [editable]="true" [rating]="product.rate"
            (ratingChange)="change_rate($event)"></rating-stars>
        <button *ngIf="enable_add_to_cart" class="button button--grey" title="add to cart" (click)="add_to_cart()">
            <i class="fa fa-plus"></i>
        </button>
        <button *ngIf="enable_remove_from_cart" class="button button--red" title="remove from your cart"
            (click)="remove_from_cart()">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>