<div class="product" [class.product--disabled]="product.active == false">
    <div class="product__image">
        <img [src]="product.image" alt="picture of {{product.name ? product.name : 'product name'}}">
        <span class="button product__details" (click)="go_to_details(product.id)" title="see the product details">
            <p>see details</p>
        </span>
    </div>
    <div class="product__content">
        <h3>{{product.name ? product.name : 'product name'}}</h3>
        <div class="product__content__price">
            <span>${{product.price ? product.price : 'price'}}</span>
            <button class="button button--main" title="add to your cart" (click)="ask_confirmation(product)"
                *ngIf="!mine">
                <p>add to cart</p>
            </button>
            <button class="button" [class.button--main]="product.active == false"
                [class.button--red]="product.active == true"
                [title]="product.active == true ? 'remove this product' : 'enable this product'" (click)="ask_publish()"
                *ngIf="mine">
                <p>{{product.active == true ? 'remove' : 'enable'}}</p>
            </button>
        </div>
    </div>
</div>