nav {
  background-color: var(--background-hover);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 45px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  h2 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  menu {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
