.details {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 100%;

  &__image {
    width: 100%;
    max-width: 50%;

    &--disabled {
      filter: grayscale(1);
      opacity: 0.5;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 50%;

    &__title {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h3 {
        font-size: 2rem;
      }

      p {
        font-weight: 400;
        font-size: 0.85rem;
      }
    }

    &__price {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}
