<div class="details" *ngIf="!loading">
    <div class="details__image" [class.details__image--disabled]="product.active == false">
        <img [src]="product.image" alt="picture of {{product.name}}">
    </div>
    <div class="details__content content">
        <div class="details__content__title content__title">
            <div class="buttons">
                <h3>{{product.name}}</h3>
                <rating-stars *ngIf="product.rate" [rating]="product.rate" [editable]="false"></rating-stars>
            </div>
            <span *ngIf="product.active == false" class="badge badge--light badge--red">disabled</span>
            <p>{{product.desc}}</p>
        </div>
        <p class="details__content__price">${{product.price}}</p>
        <div class="buttons">
            <button class="button" (click)="back()" title="go back">
                <i class="fa fa-arrow-left"></i>
                <p>back</p>
            </button>
            <button class="button button--main" [disabled]="product.active == false" (click)="add_to_cart()"
                title="add this product to your cart">
                <i class="fa fa-add"></i>
                <p>add to cart</p>
            </button>
        </div>
        <div class="buttons" *ngIf="product.seller_id != 25">
            <i class="fa fa-user" title="see the seller rates"></i>
            <p>{{seller.name}}</p>
            <rating-stars [rating]="product.seller_rate" [editable]="false"></rating-stars>
        </div>
    </div>
</div>