<div class="content">
    <div class="content__title">
        <div class="buttons">
            <h3>products</h3>
            <div class="button button--main" title="create a new product" (click)="go_to_new_product()" *ngIf="seller">
                <p>new product</p>
            </div>
        </div>
        <div class="search buttons">
            <input type="text" placeholder="type here...">
            <button class="button">
                <i class="fa fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    <products-list [products]="products" [mine]="false"></products-list>
</div>