<div class="cart" [class.opened]="cart_visibility">
    <div class="cart__head">
        <h2>cart</h2>
        <i class="fas fa-times" (click)="toggle_cart()"></i>
    </div>
    <div products-list-cart class="cart__content" [enable_add_to_cart]="false" [enable_remove_from_cart]="true"></div>
    <div class="cart__footer">
        <h3>${{total_price}}</h3>
        <button class="button button--main" (click)="checkout()" title="proceed to the checkout">
            <i class="fa fa-credit-card"></i>
            <p>checkout</p>
        </button>
    </div>
</div>