.nav__item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  position: relative;
  background-color: var(--background-hover);
  padding: 4px 6px;
  border-radius: 3px;
  user-select: none;

  &:hover {
    filter: brightness(0.95);
  }

  p {
    white-space: nowrap;
  }

  i {
    font-size: 0.85rem;
  }
}
