<div class="content">
    <div class="content__title">
        <h3>add a new product</h3>
    </div>
    <div class="form">
        <div class="form__item">
            <label for="name">name</label>
            <input type="text" name="name" id="name" autocomplete="off">
        </div>
        <div class="form__item">
            <label for="description">description</label>
            <textarea type="text" name="description" id="description" autocomplete="off"></textarea>
        </div>
        <div class="form__lign">
            <div class="form__item price">
                <label for="price">price</label>
                <div class="input">
                    <input type="number" step="0.5" min="0" name="price" id="price" autocomplete="off">
                    <p>$</p>
                </div>
            </div>
            <div class="form__item">
                <label for="active">state</label>
                <select name="active" id="active">
                    <option value="1">enabled</option>
                    <option value="0">disabled</option>
                </select>
            </div>
        </div>
        <div class="form__buttons">
            <div class="button" title="go back" (click)="back()">
                <p>back</p>
            </div>
            <div class="button button--main" title="create the product" (click)="create()">
                <p>create</p>
            </div>
        </div>
    </div>
</div>