<div class="content">
    <div class="content__title">
        <h3>add a new product</h3>
    </div>
    <form #form="ngForm" class="form">
        <div class="form__item">
            <label for="name">name</label>
            <input type="text" name="name" id="name" autocomplete="off" ngModel required>
        </div>
        <div class="form__item">
            <label for="description">description</label>
            <textarea type="text" name="description" id="description" autocomplete="off" ngModel required></textarea>
        </div>
        <div class="form__lign">
            <div class="form__item price">
                <label for="price">price</label>
                <div class="input">
                    <input type="number" step="0.5" min="0" name="price" id="price" autocomplete="off" ngModel required>
                    <p>$</p>
                </div>
            </div>
            <div class="form__item">
                <label for="active">state</label>
                <select name="active" id="active" required ngModel>
                    <option disabled selected>choose a state</option>
                    <option value="1">enabled</option>
                    <option value="0">disabled</option>
                </select>
            </div>
        </div>
        <div class="form__buttons">
            <span class="button" title="go back" (click)="back()">
                <p>back</p>
            </span>
            <button class="button button--main" title="create the product" (click)="create(form)"
                [disabled]="form.invalid">
                <p>create</p>
            </button>
        </div>
    </form>
</div>