.button {
  background-color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  outline: none;
  user-select: none;
  font-size: 0.85rem;
  font-weight: 500;

  &:hover {
    filter: brightness(0.95);
  }

  p {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--color);
  }

  i {
    font-size: 0.8rem;
    color: var(--color);
  }

  &--main {
    background-color: var(--main);
    color: var(--main-color);

    p,
    i {
      color: var(--main-color);
    }
  }

  &--red {
    background-color: var(--red-light);
    color: var(--red);

    p,
    i {
      color: var(--red);
    }
  }

  &--green {
    background-color: var(--green-light);
    color: var(--green);

    p,
    i {
      color: var(--green);
    }
  }

  &--grey {
    background-color: var(--grey-light);
    color: var(--color);

    p,
    i {
      color: var(--color);
    }
  }

  &--round {
    border-radius: 100vmax;
  }

  &:disabled {
    cursor: not-allowed;
    filter: opacity(0.8);
  }
}

.buttons,
.swal2-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.swal2-actions {
  .button {
    min-width: 65px;
  }
}
