.button {
  background-color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  outline: none;
  user-select: none;

  &:hover {
    filter: brightness(0.95);
  }

  p {
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--color);
  }

  i {
    font-size: 0.8rem;
    color: var(--color);
  }

  &:not(:has(p)) {
    padding: 4px;
    width: 24px;
    height: 24px;

    i {
      font-size: 0.75rem;
    }
  }

  &--main {
    background-color: var(--main);

    p {
      color: var(--main-color);
    }
  }

  &--round {
    border-radius: 100vmax;
  }

  &:disabled {
    cursor: not-allowed;
    filter: opacity(0.8);
  }
}
