.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p,
    label {
      font-size: 0.85rem;

      &.error {
        display: none;
        font-size: 0.65rem;
      }
    }

    &--password {
      .input {
        position: relative;

        i.eye {
          position: absolute;
          right: 0;
          top: 1px;
          cursor: pointer;
          font-size: 0.75rem;
          color: var(--color);
          height: 100%;
          min-width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &--invalid {
      p,
      label {
        color: var(--red);
      }

      input,
      textarea,
      select {
        border: 1px solid var(--red);

        &:focus {
          border: 1px solid var(--red);
          box-shadow: 0 0 0 3px var(--red-light);
        }
      }

      p {
        color: var(--red);
        &.error {
          display: block;
        }
      }

      &.form__item--password {
        .input {
          i.eye {
            color: var(--red);
          }
        }
      }
    }
  }

  &__lign {
    display: flex;
    gap: 10px;

    .form__item {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    margin-top: 5px;

    .button {
      flex: 1;
    }
  }
}
