@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Montserrat";
  --font-weight: 500;
  --font-size: 1rem;
  --color: #1a1919;
  --background: #fff;
  --background-hover: #f0f0f0;
  --main: #0171e2;
  --main-light: rgb(1, 113, 226, 0.15);
  --red: #e94f37;
  --red-light: rgb(233, 79, 55, 0.2);
  --main-color: #fff;
}

* {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  position: relative;
}

.content {
  min-width: 500px;
  &__title {
    margin-bottom: 15px;
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
